@font-face {
    font-family: 'Catull';
    src: url('fonts/Catull.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hockey is Lif';
    src: url('fonts/Hockey-Is-Life.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    /* default font */
    font-family: sans-serif;
    font-size: 14px;
}

#react-root {
    background-color: #74920D;
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Part 1: Entry */

.entry {
    position: absolute;
    width: 100%;
    height: 100%;
}

.entry::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/entry-background.jpg');  /* image includes 66% transparency */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.66;
    z-index: -1;
}

.entry .logo {
    position: relative;
    top: 91px;
    left: 74px;
}

.entry h1 {
    font-family: Catull, Arial, sans-serif;
    font-size: 81px;
    color: white;
    text-shadow: 4px 4px 25px #0B0A0A;
    text-align: center;
    position: relative;
    top: 380px;
}

.entry .undo {
    position: absolute;
    top: 470px;
    left: 760px;
    height: 75px;
    width: 75px;
    opacity: 0.0;
}

.entry .button-bar {
    position: absolute;
    top: 830px;
    left: 0px;
    width: 100%;
    height: 120px;
    display: inline-flex;
    justify-content: center;
}

.entry .button-bar .seed-button {
    position: relative;
    width: 350px;
    height: 100px;
    background-color: rgba(187, 12, 95, 0.66);
    border-radius: 90px;
    margin: 0 11px;
    text-align: center;
    line-height: 113px;     /* 100px in theory, but hack needed to get it perfectly centered b/c of font */
    cursor: pointer;
}

.entry .button-bar .seed-button a {
    font-family: 'Hockey is Lif', Arial, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

/* Part 2: The Display */

.display {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.display .counter {
    background: white;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.display .counter h1 {
    position: relative;
    margin: 0;
    top: 0px;
    font-family: 'Hockey is Lif', Arial, sans-serif;
    font-weight: normal;
    font-size: 142px;
    color: #BB0C5F;
    text-align: center;
}

.display .counter .logo {
    position: absolute;
    top: 930px;
    left: 50px;
}

.display .counter .power-of-one-seed {
    position: fixed;
    width: 285px;
    height: 285px;
    left: 832px;
}

.display .last-planting {
    background: #74920D;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.display .last-planting h1 {
    position: relative;
    margin: 0;
    top: 45px;
    font-family: 'Hockey is Lif', Arial, sans-serif;
    font-weight: normal;
    font-size: 113px;
    color: white;
    text-align: center;
}

.display .last-planting .varietal {
    position: relative;
    margin: 0;
    top: 55px;
    font-family: Catull, Arial, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
}

.display .last-planting .illustration {
    position: relative;
    top: 110px;
    width: 525px;
    height: 525px;
    margin: 0 auto;
}

.display .last-planting .description {
    position: relative;
    top: 170px;
    font-family: Catull, Arial, sans-serif;
    font-weight: normal;
    font-size: 37px;
    text-align: center;
    width: 80%;
    margin: 10px auto;
    color: white;
}