@font-face {
    font-family: 'Catull';
    src: url('fonts/Catull.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hockey is Lif';
    src: url('fonts/Hockey-Is-Life.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    /* default font */
    font-family: sans-serif;
    font-size: 14px;
}

#react-root {
    background-color: #74920D;
    width: 1920px;
    height: 1080px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.entry {
    position: absolute;
    width: 100%;
    height: 100%;
}

.entry::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/entry-background.jpg');  /* image includes 66% transparency */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.66;
    z-index: -1;
}

.entry .logo {
    position: relative;
    top: 91px;
    left: 74px;
}

.entry h1 {
    font-family: Catull, Arial, sans-serif;
    font-size: 81px;
    color: white;
    text-shadow: 4px 4px 25px #0B0A0A;
    text-align: center;
    position: relative;
    top: 380px;
}

.entry .undo {
    position: absolute;
    top: 470px;
    left: 760px;
    height: 75px;
    width: 75px;
    opacity: 0.0;
}

.entry .button-bar {
    position: absolute;
    top: 830px;
    left: 0px;
    width: 100%;
    height: 120px;
    display: inline-flex;
    justify-content: center;
}

.entry .button-bar .seed-button {
    position: relative;
    width: 350px;
    height: 100px;
    background-color: rgba(187, 12, 95, 0.66);
    border-radius: 90px;
    margin: 0 11px;
    text-align: center;
    line-height: 113px;     /* 100px in theory, but hack needed to get it perfectly centered b/c of font */
}

.entry .button-bar .seed-button a {
    font-family: 'Hockey is Lif', Arial, sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: white;
}

.display {
    position: absolute;
    width: 100%;
    height: 100%;
}

.counter {
    width: 50%;
    height: 100%;
    background: palegreen;
    float: left;
}

.last-planting {
    margin-left: 50%;
    background: lightskyblue;
    position: relative;
    height: 100%;
}

.last-planting h1 {
    font-size: 3em;
    text-align: center;
}

.last-planting .illustration {
    width: 16em;
    height: 16em;
    display: block;
    margin: 0 auto;
}

.last-planting .varietal {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.last-planting .description {
    text-align: center;
    width: 80%;
    margin: 10px auto;
}